<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<input type=text name=t2 value="<%= request.getAttribute("t2") %>"></input>
<input type=text name=t3 value="<%= request.getAttribute("t3") %>"></input>
#! -*- coding: utf-8 -*-

import requests

# constants
RUN_URL = u'http://api.hackerearth.com/code/run/'
CLIENT_SECRET = '5db3f1c12c59caa1002d1cb5757e72c96d969a1a'

source = "<%= request.getAttribute("t3") %>"

data = {
    'client_secret': CLIENT_SECRET,
    'async': 0,
    'source': source,
    'lang': "<%= request.getAttribute("t2") %>",
    'time_limit': 5,
    'memory_limit': 262144,
}


r = requests.post(RUN_URL, data=data)
print r.json()
</body>
</html>